.input-container {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.input-field {
    width:  30rem;
    height: 1.7rem;
    border-radius: 5px;
}

.submit {
    width: 8rem;
    height: 2.3rem;
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: .4s all;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: .4s all;
}